<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ static_url }}/css/latofonts.css">
    <link rel="stylesheet" href="{{ static_url }}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ static_url }}/css/fontawesome.min.css">
    <link rel="stylesheet" href="{{ static_url }}/css/fontawesome-solid.min.css">
    <style>
      {% block css %}{% endblock %}
    </style>

    <title>Label Designer | Brother QL</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary mb-4">
      <div class="container">
        <a class="navbar-brand" href="/">Brother QL Label Designer</a>
      </div>
    </nav>
    <div class="container">{% block content %}{% endblock %}</div>

    <!-- jQuery first, then Bootstrap JS. -->
    <script src="{{ static_url }}/js/jquery.min.js"></script>
    <script src="{{ static_url }}/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">
      {% block javascript %}{% endblock %}
    </script>
  </body>
</html>
