<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ static_url }}/css/latofonts.css">
    <link rel="stylesheet" href="{{ static_url }}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ static_url }}/css/fontawesome.min.css">
    <link rel="stylesheet" href="{{ static_url }}/css/fontawesome-solid.min.css">
    <style>
      textarea#labelText {
        resize: none;
      }
      .card-header[data-toggle="collapse"] {
        cursor: pointer;
      }
    </style>

    <title>Label Designer | Brother QL</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary mb-4">
      <div class="container">
        <a class="navbar-brand" href="/">Brother QL Label Designer</a>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-3">
            <div class="card-header">
              <h5 class="card-title mb-0">
                <i class="mr-2 fas fa-print" aria-hidden="true"></i>
                Printer
              </h5>
            </div>
            <div class="card-body">
              <div class="d-flex">
                <div class="flex-grow-1 pr-4">
                  <div class="d-flex justify-content-between pb-1">
                    <span>Model:</span>
                    <b id="modelName">loading</b>
                  </div>
                  <div class="d-flex justify-content-between pb-1">
                    <span>Loaded label:</span>
                    <b id="labelName">loading</b>
                  </div>
                </div>
                <div>
                  <button id="statusButton" type="button" class="btn btn-primary btn-block btn-lg mb-3" onClick="updatePrinterStatus()">
                    <span class="fas fa-redo" aria-hidden="true"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <fieldset class="form-group">
            <div class="accordion" id="accordion">
              <div class="card">
                <div class="card-header" data-toggle="collapse" data-target="#labelSettings" id="#labelSettingsHead">
                  <h5 class="mb-0">
                    <i class="mr-3 fas fa-file" aria-hidden="true"></i>
                    Label Size
                  </h5>
                </div>
                <div id="labelSettings" class="collapse" aria-labelledby="labelSettingsHead" data-parent="#accordion">
                  <div class="card-body">
                    <div class="form-group">
                      <label for="labelSize" class="sr-only">Label Size:</label>
                      <select class="form-control" id="labelSize" onChange="preview()">
                        <option value="auto" selected>Auto</option>
                      </select>
                    </div>
                    <div class="form-group mb-0">
                      <label for="orientation" >Text Orientation:</label>
                      <div class="form-check">
                        <input type="radio" onchange="preview()" name="orientation" id="orientationPortrait" class="pl-2 form-check-input" value="portrait">
                        <label for="orientationPortrait">portrait</label>
                      </div>
                      <div class="form-check">
                        <input type="radio" onchange="preview()" name="orientation" id="orientationLandscape" class="pl-2 form-check-input" value="landscape">
                        <label for="orientationLandscape">landscape</label>
                      </div>
                    </div>
                  </div> <!-- class="chooser panel-body" -->
                </div>
              </div>
              <div class="card">
                <div class="card-header" data-toggle="collapse" data-target="#fontSettings" id="#fontSettingsHead">
                  <h5 class="mb-0">
                    <i class="mr-2 fas fa-text-height" aria-hidden="true"></i>
                    Font Settings
                  </h5>
                </div>
                <div id="fontSettings" class="collapse show" aria-labelledby="fontSettingsHead" data-parent="#accordion">
                  <div class="card-body">
                    <div class="form-row">
                      <div class="form-group col-lg-8">
                        <label for="fontFamily">Font:</label>
                        <select class="form-control" id="fontFamily" onChange="updateFontStyles()">
                        </select>
                      </div>
                      <div class="form-group col-lg-4">
                        <label for="fontStyle">Style:</label>
                        <select class="form-control" id="fontStyle" onChange="preview()">
                        </select>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-lg-6">
                        <label for="fontSize" >Font Size:</label>
                        <input id="fontSize" class="form-control" type="number" min="1" onChange="preview()" required>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-lg-6 mb-0">
                        <label class="control-label input-group">Horizontal Alignment:</label>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                          <label class="btn btn-secondary">
                            <input type="radio" name="fontAlign" onchange="preview()" value="left" aria-label="Left" />
                            <i class="fas fa-align-left" aria-hidden="true"></i>
                          </label>
                          <label class="btn btn-secondary active">
                            <input type="radio" name="fontAlign" onchange="preview()" value="center" aria-label="Center" />
                            <i class="fas fa-align-center" aria-hidden="true"></i>
                          </label>
                          <label class="btn btn-secondary">
                            <input type="radio" name="fontAlign" onchange="preview()" value="right" aria-label="Right" />
                            <i class="fas fa-align-right" aria-hidden="true"></i>
                          </label>
                          <label class="btn btn-secondary">
                            <input type="radio" name="fontAlign" onchange="preview()" value="justify" aria-label="Justify" />
                            <i class="fas fa-align-justify" aria-hidden="true"></i>
                          </label>
                        </div>
                      </div>
                      <div class="form-group col-lg-6 mb-0">
                        <label class="control-label input-group">Vertical Alignment:</label>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                          <label class="btn btn-secondary">
                            <input type="radio" name="alignVertical" onchange="preview()" value="top" aria-label="Top" />
                            <span aria-hidden="true">T</span>
                          </label>
                          <label class="btn btn-secondary active">
                            <input type="radio" name="alignVertical" onchange="preview()" value="center" aria-label="Center" />
                            <span aria-hidden="true">C</span>
                          </label>
                          <label class="btn btn-secondary">
                            <input type="radio" name="alignVertical" onchange="preview()" value="bottom" aria-label="Bottom" />
                            <span aria-hidden="true">B</span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div> <!-- class="chooser panel-body" -->
                </div>
              </div>
              <div class="card">
                <div class="card-header" data-toggle="collapse" data-target="#detailedSettings" id="#detailedSettingsHead">
                  <h5 class="mb-0">
                    <i class="mr-2 fas fa-cog" aria-hidden="true"></i>
                    Detailed Settings
                  </h5>
                </div>
                <div id="detailedSettings" class="collapse" aria-labelledby="detailedSettingsHead" data-parent="#accordion">
                  <div class="card-body">
                    <div class="form-row">
                      <div class="form-group col-lg-3">
                      </div>
                      <div class="form-group col-lg-6">
                        <label class="text-center w-100" for="marginTop">Margin Top:</label>
                        <div class="input-group">
                          <input id="marginTop" class="form-control" type="number" min="0" max="200" onChange="preview()" required>
                          <div class="input-group-append">
                            <span class="input-group-text">%</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-lg-6">
                        <label class="text-center w-100" for="marginLeft">Margin Left:</label>
                        <div class="input-group">
                          <input id="marginLeft" class="form-control" type="number" min="0" max="200" onChange="preview()" required>
                          <div class="input-group-append">
                            <span class="input-group-text">%</span>
                          </div>
                        </div>
                      </div>
                      <div class="form-group col-lg-6">
                        <label class="text-center w-100" for="marginRight">Margin Right:</label>
                        <div class="input-group">
                          <input id="marginRight" class="form-control" type="number" min="0" max="200" onChange="preview()" required>
                          <div class="input-group-append">
                            <span class="input-group-text">%</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-lg-3">
                      </div>
                      <div class="form-group col-lg-6">
                        <label class="text-center w-100" for="marginBottom">Margin Bottom:</label>
                        <div class="input-group">
                          <input id="marginBottom" class="form-control" type="number" min="0" max="200" onChange="preview()" required>
                          <div class="input-group-append">
                            <span class="input-group-text">%</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> <!-- class="chooser panel-body" -->
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="col-md-4">
          <fieldset class="form-group">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title mb-0">
                  <label for="labelText" class="mb-0">
                    <i class="mr-2 fas fa-paragraph" aria-hidden="true"></i>
                    Label Text
                  </label>
                </h5>
              </div>
              <div class="card-body">
                <textarea rows="7" id="labelText" class="form-control" style="resize: none" onChange="preview()" onInput="preview()"></textarea>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="col-md-4">
          <div class="card mb-3">
            <div class="card-header">
              <h5 class="card-title mb-0">
                <i class="mr-2 fas fa-image" aria-hidden="true"></i>
                Preview
              </h5>
            </div>
            <div class="card-body">
              <img id="previewImg" style="border: 1px solid #444; max-height: 350px; width: auto; max-width: 100%; margin-bottom: 10px;"/>
              <br />
              Printed size w/o margins: <span id="labelWidth">?</span> cm x <span id="labelHeight">?</span> cm
            </div>
          </div>
          <fieldset class="formgroup mb-3">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Copies</span>
              </div>
              <input id="copies" class="form-control" type="number" min="1" max="20" required>
            </div>
          </fieldset>
          <button id="printButton" type="button" class="btn btn-primary btn-block btn-lg mb-3" onClick="print()">
            <span class="fas fa-print" aria-hidden="true"></span> Print
          </button>
          <div class="card mb-5">
            <div class="card-header">
              <h5 class="card-title mb-0">
                <i class="mr-2 fas fa-info-circle" aria-hidden="true"></i>
                Status
              </h5>
            </div>
            <div class="card-body">
              <div id="statusBox" class="alert alert-secondary" role="alert">
                <span class="pl-0 fas fa-chevron-circle-right" aria-hidden="true"></span>
                <span id="statusMessage">Nothing printed yet.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- jQuery first, then Bootstrap JS. -->
    <script src="{{ static_url }}/js/jquery.min.js"></script>
    <script src="{{ static_url }}/js/bootstrap.bundle.min.js"></script>
    <script src="{{ static_url }}/js/designer.js"></script>
  </body>
</html>
